[submodule "ip/frame_buffer"]
	path = ip/frame_buffer
	url = https://github.com/hellgate202/frame_buffer
        branch = master
[submodule "ip/csi2_rx"]
	path = ip/csi2_rx
	url = https://github.com/hellgate202/csi2_rx
        branch = master
[submodule "ip/hdmi_tx"]
	path = ip/hdmi_tx
	url = https://github.com/hellgate202/hdmi_tx
        branch = master
[submodule "lib/img_proc_lib"]
	path = lib/img_proc_lib
	url = https://github.com/hellgate202/img_proc_lib
        branch = master
